* {
	box-sizing: border-box;

}

header{
	text-align: center;
}


h2{
	float: right;
	text-align: center;
	width: 30%;
	font-size: 80%;
	color: #00FFFF;
	border: solid green 1px;
	margin-top: 0px;
	background-color: white;

}

section {
	float: left ;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 30px;
}
@media(min-width: 992px){
	.col-lg-4{
		width: 33.33%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.col-md-6{
		width: 50%; 
	}
	.col-md{
		width: 100%;
	}
}
@media(max-width: 767px){
	.col-sm-12{
		width: 100%;
	}
}

p{
	margin: 30px;

}
div{
	padding-top:0px;
	padding-right: 0px;
	border: solid black 1px;
	background-color: grey;
    height: 250px;
	overflow: auto;
}


header{
	color: #0000FF;	
	font-size:200%;
	margin-bottom: 20px;
}

